.rockets {
    display: flex;
    flex-direction: column;
}

.rocketimg {
    height: 150px;
    /* width: 100px; */
    aspect-ratio: calc(4/3);
}

.rocketTile {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
}

.rocketDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;

}

.rocketName {
    font-size: larger !important;
}

.rocketDescription {}

.reserveButton {
    all: unset;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    color: white;
    background-color: rgb(24, 66, 165);
}

.reserveButton:hover{
    cursor: pointer;
    background-color: rgb(8, 67, 111);
}
.reserveButton:disabled{
    cursor: pointer;
    background-color: rgb(220, 224, 227);
    color: black;
}